N8N_BASE_URL=https://afp-app-gestao-de-torneios-5bk5.onrender.com
N8N_WEBHOOK_CHAMPIONS=https://afp-app-gestao-de-torneios-5bk5.onrender.com/webhook/sorteio-champions
N8N_WEBHOOK_GRUPOS=https://afp-app-gestao-de-torneios-5bk5.onrender.com/webhook/sorteio-grupos
N8N_WEBHOOK_LIGA=https://afp-app-gestao-de-torneios-5bk5.onrender.com/webhook/sorteio-liga
N8N_WEBHOOK_QUALIFICACAO=https://afp-app-gestao-de-torneios-5bk5.onrender.com/webhook/sorteio-qualificacao
N8N_WEBHOOK_ELIMINATORIAS=https://afp-app-gestao-de-torneios-5bk5.onrender.com/webhook/sorteio-eliminatorias
N8N_WEBHOOK_TACA=https://afp-app-gestao-de-torneios-5bk5.onrender.com/webhook/sorteio-taca
